Package: libmysyslog-daemon
Version: 1.0
Section: devel
Priotity: optional
Depends: libc6, libmysyslog, libmysyslog-json, systemd, libjson-c-dev
Architecture: amd64
Essential: no
Installed-Size: 40
Maintainer: Lidskiy A. A. <besplatnii@internet.ru>
Description: libmysyslog-daemon to test libmysyslog logger lib
