Package: myRPC-server
Version: 1.0
Section: devel
Priotity: optional
Depends: libc6, libmysyslog, libmysyslog-text, systemd, libjson-c-dev
Architecture: amd64
Essential: no
Installed-Size: 36
Maintainer: Lidskiy A. A. <besplatnii@internet.ru>
Description: myRPC-server a socket-based RPC server that allows connections from myRPC-client and supports the JSON protocol
