[Unit]
Description=mysyslog-daemon

[Service]
Type=simple
ExecStart=/usr/bin/mysyslog-daemon \
	--conf_file /etc/mysyslog/mysyslog.conf \
	--log_file /var/log/mysyslog/msl.log
User=mysyslog
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target